body{
    color: white;
    margin: 0px;
    padding: 0px;
    background-color: #101010;
    overflow-y: hidden;
    font-family: 'Times New Roman', Times, serif;
}
body.light-mode{
    color: black;
    background-color: #f0f0f0;
}
.fullscreen{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    padding: 60px;
    background-color: #00000080;
}
::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: #282828;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #343434;
}

/* /////////////////////////// //
// COOL BACKGROUND CODE THING //
// ///////////////////////// */
.background_sample{
    left: 0px;
    position: absolute;
    object-fit: fill;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.75;
    color: #90e087;
    font-family:cascadia code;

    overflow: hidden;
}
.light-mode .background_sample{
    color: #15610d;
}

.background_expand{
    left: 300px;
    width: calc(100% - 300px);
}
.background_further_expand{
    left: 1100px;
    width: calc(100% - 1100px);
}
.codeline {
    tab-size: 4;
    display: block;
    white-space: pre;
    text-shadow: 0 0 7px #a7d8a2;
}
.light-mode .codeline{
    /*text-shadow: 0 0 7px #0a7700;*/
    text-shadow: none;
}


/* //////////////// //
// FLOW MANAGEMENT //
// ////////////// */
.page_scroll{
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    position: absolute;
    height: 100%;
    width: 100%;

    overflow:auto;
}
.content_scroll{
    left: 300px;
    width: calc(100% - 300px);
}
.spacer{
    height: 400px;
}
.tiles_sidebar{
    position: absolute;
    right: 0px;
    top: 38px;
    width: calc(100% - 800px);
    height: calc(100% - 25px);
}

/* ///////// //
// SIDE BAR //
// /////// */
.sidebar{
    top: 0px;
    left: 0px;
    margin: 0px;
    padding: 0px;

    position: absolute;
    width: 300px;
    height: 100%;
}
.collapsed_sidebar{
    margin: 5px;
    padding-bottom: 20px;
    background-color: #101010;
}
.light-mode .collapsed_sidebar{
    background-color: white;
}
.side_header{
    text-align: center;
    display:block;
    width: 100%;
    font-size: 32px;
}
.side_line{
    height: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 25px;
    display:block;
    background-color: white;
}
.light-mode .side_line{
    background-color: black;
}
.side_context{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;
    display:block;
}
.tool_header{
    text-align: center;
    color: #D0D0D0;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 20px;
    display: block;
}
.light-mode .tool_header{
    color: #404040;
}
.tool_line{
    height: 1px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
    display:block;
    background-color: gray;
}
.side_tool{
    margin-left: 10%;
    margin-right: 10%;
}

.tagbox{
    display:inline-block;
    position: relative;
    border-radius: 15px;
    margin-right: 5px;
    padding: 0px;
    
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 7px;
    padding-right: 7px;
    margin-top: 1px;

    border: 1px solid #FFFFFF;
}
.light-mode .tagbox{
    border-color: black;
}
.mediabox{
    display:inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 10px;
    margin-right: 10px;
}

/* //////////////// //
// CONTENT TOP BAR //
// ////////////// */
.content{
    height: fit-content;
}
.c_header{
    position: relative;
    text-align: left;
    left: 0px;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    width: calc(100% - 10px);
    background-color: #1C1C1C;
    border-radius: 5px;
}
.light-mode .c_header{
    background-color: white;
}
.c_h_left{
    margin-right: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.c_h_right{
    color: black;
    position: absolute;
    right: 10px;
    top: 2px;
}
.c_h_right_light{
    color: black;
    position: absolute;
    right: 10px;
    top: 2px;
}
#svg_path_dark {
    fill: black;
}
.light-mode #svg_path_dark {
    fill: white;
}
#svg_path_light {
    fill: white;
}
.light-mode #svg_path_light{
    fill: black;
}

/* ///////////// //
// MAIN CONTENT //
// /////////// */
.c_focused_item{
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    background-color: #1C1C1C; /*F0;*/
    border-radius: 5px;
    height: 100%;
}
.light-mode .c_focused_item{
    background-color: white;
}
.c_focused_item_collapsed{
    width: 100%;
}
.c_focused_item_exand{
    width: 800px;
}
.c_focused_item_normal{
    margin-bottom: 10px;
    transition: height 150ms ease;
    overflow: hidden;
}
.c_focused_item_shrink{
    height: 0px;
}
.c_f_i_media{
    margin-top: 1px;
    margin-bottom: 10px;
}
.c_f_i_time{
    color: #adadad;
    margin-top: 1px;
    margin-bottom: 10px;
    font-size: 10;
}
.c_f_i_desc{
    color: #E0E0E0;
    font-size: 13;
}
.light-mode .c_f_i_desc{
    color: black;
}
.c_i_i_trioframe{
    margin: 0px;
    padding: 0px;
    display: inline-block;
    box-sizing: border-box;
    width: calc(33% - 5px);
    aspect-ratio: 2 / 1;
    background-color: #101010;
    overflow: hidden;
    border: 1px solid black;
}
.light-mode .c_i_i_trioframe{
    background-color: gray;
    border-color: black;
}
.c_i_i_t_interactive{
    transition: border-color 150ms linear;
}
.c_i_i_t_interactive:hover{
    border-color: #C0C0C0;
}
.light-mode .c_i_i_t_interactive:hover{
    border-color: rgb(255, 122, 60);
}
.c_i_i_t_interactive:active{
    border-color: #e0e0e0;
}
.light-mode .c_i_i_t_interactive:active{
    border-color: rgb(255, 81, 0);
}
.c_i_i_focusframe{
    margin-right: 2px;
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 5px);
    aspect-ratio: 2 / 1;
    background-color: #080808;
    border: 1px solid black;
    transition: border-color 150ms linear;
    overflow: hidden;
}
.c_i_i_focusframe:hover{
    border-color: rgb(197, 197, 197);
}
.c_i_i_focusframe:active{
    border-color: white;
}
.light-mode .c_i_i_focusframe{
    background-color: rgb(230, 230, 230);
}
.c_i_i_f_img_preview{
    object-fit: contain;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
    height: 100%;
}
.c_i_i_f_media_img{
    width: 15px;
    height: 15px;
    margin-right: 5px;
}

/* ///////////// //
// TILE CONTENT //
// /////////// */
.c_item{
    color: white;
    border: none;
    text-align: left;

    box-sizing: border-box;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    background-color: #1C1C1C; /*D0;*/
    border-radius: 5px;

    transition: background-color 150ms linear;
    
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.light-mode .c_item{
    color: black;
    background-color: white;
}
.c_item:hover {
    background-color: #343434; /*F0;*/
}
.light-mode .c_item:hover{
    background-color: rgb(210, 210, 210);
}
.c_item:active {
    background-color: #3C3C3C; /*F0;*/
}
.light-mode .c_item:active{
    background-color: rgb(200, 200, 200);
}
.c_item_ipr1{
    width: calc(100% - 10px);
}
.c_item_ipr2{
    width: calc(50% - 10px);
}
.c_item_ipr3{
    width: calc(33% - 10px);
}
.c_item_ipr4{
    width: calc(25% - 10px);
}
.c_item_ipr5{
    width: calc(20% - 10px);
}



.c_i_header{
    display: block; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 5px;
}
.c_i_h_name{
    font-size: 20px;
}
.c_i_h_date{
    margin-left:  6px;
    margin-right: 6px;
    font-size: 16px; 
    color: #4fab5f;
}
.c_i_overview{
    font-size: 16px; 
    color: #909090; 
}
.c_i_o_wrapper{
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.c_i_images{
    display: block; 
    margin-top: 10px;
}
.c_i_i_wholeframe{
    margin-right: 2px;
    display: inline-block;
    box-sizing: border-box;
    width: calc(100% - 3px);
    aspect-ratio: 2 / 1;
    background-color: #101010;
    border-radius: 5px;
    overflow: hidden;
}
.c_i_tags{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.c_i_img_preview{
    object-fit: cover;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 100%;
    height: 100%;
}